.container{
    max-width: 1140px;
    margin: auto;
}

.home-main {
    display: flex;
    gap: 0 10px;
    margin-bottom: 10px;
}
.home-product {
    display: flex;
    gap: 0 10px;
}
.main {
    padding-top: 163px;
}